
/* Добавила активное состояние чекбокса */

/* Если б в чеклисте не было запрета на инлайновые стили, 
поставила бы по умолчанию checked напротив варианта "Ночь", 
чтобы, соответсвенно макету, при обновлении страницы, уже стоял флажочек.
Сделаю так для себя после сдачи проекта  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  justify-content: center;
  align-self: center;
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.search-form {
  width: 711px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  width: 212px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 6px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline solid #fff 1px;
  text-underline-offset: 2px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  outline: none;
  appearance: none;
  background-color: inherit;
  width: 225px;
  border: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
  width: 212px;
}

.search-form__checkbox[type="checkbox"]:checked + span::after {
  content: " ";
  opacity: 1;
}

.search-form__checkbox[type="checkbox"]:active + span::after {
  content: " ";
  opacity: 1;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: " ";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.button {
  border: 1px solid #fff;
  background-color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  height: 34px;
  font-family: "Fira Sans Condensed", sans-serif;
  text-align: center;
}

.button :focus {
  outline: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.button:focus-visible {
  outline: 1px double #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline solid #fff 1px;
  text-underline-offset: 2px;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 19px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* Где остановились */
.content__list-container {
  height: 298px;
  overflow-y: scroll;
  display: grid;
  gap: 30px;
  position: relative;
}

.content__list {
  display: grid;
  gap: 30px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline solid #fff;
  text-underline-offset: 4px;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:focus-visible {
  outline: none;
  border: 1px solid #fff;
}

.content__card-link_current {
    background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.content__video-card-description-container {
  padding-top: 2px;
  flex-grow: 1;
}

.content__video-card-title {
  padding-bottom: 7px;
  line-height: 100%;
  padding-left: 3px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  max-width: 196px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  padding-bottom: 5px;
  line-height: 0.9;
  padding-left: 2px;
  width: 196px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  padding-right: 3px;
  width: 197px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  min-width: 100%;
}
